.chart-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

.chart-item {
  font-size: 1rem;
  text-decoration: none;
  padding:0.35em 1.2em;
  border: 0.1em solid #121212;
  border-radius: 0.35em;
  box-sizing: border-box;
  text-decoration: none;
  color: #121212;
  text-align: center;
  transition: all 0.2s;
}

.chart-item:hover {
  color: #616161;
  border: 0.1em solid #616161;
}

.active-chart-item {
  background-color: #121212;
  color: #eeeeee;
}