.chart {
  margin-top: 5rem
}

.button {
  font-size: 0.7rem;
  margin: 0.1rem;
  text-decoration: none;
  padding:0.2em 0.8em;
  border: 0.1em solid #121212;
  border-radius: 0.35em;
  box-sizing: border-box;
  color: #121212;
  text-align: center;
}