.header {
  padding: 1rem 0 2rem;
}

.title {
  size: 2rem;
  padding-bottom: 1rem;
  
  a{
    color: rgba(0,0,0,0.9);
    text-decoration: none;
  }
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #727272;
  font-size: 1rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #505050
}

.active-nav-item {
  color: #333333;
}

hr {
  width: 80%;
  position: relative;
  left: 9.5%;
}